[submodule "dependencies/lutok2"]
	path = dependencies/lutok2
	url = https://github.com/soulik/lutok2.git
[submodule "dependencies/mbedtls"]
	path = dependencies/mbedtls
	url = https://github.com/ARMmbed/mbedtls.git
